/* Fonts */
@font-face {
   font-family: "Inter";
   src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* Roots */

:root {
   --clr-green: hsl(75, 94%, 57%);
   --clr-grey-700: hsl(0, 0%, 20%);
   --clr-grey-800: hsl(0, 0%, 12%);
   --clr-grey-900: hsl(0, 0%, 8%);

   --wgt-400: 400;
   --wgt-600: 600;
   --wgt-700: 700;
}

/* Reset */

*, *::before, *::after {
   box-sizing: border-box;
 }
   
 * {
   margin: 0;
 }
 
 body {
   line-height: 1.5;
   letter-spacing: 0;
   -webkit-font-smoothing: antialiased;
 }
   
 img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
 }
   
 input, button, textarea, select {
   font: inherit;
 }
   
 p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
 }
   
 h1, h2, h3, h4, h5, h6 {
   text-wrap: balance;
 }

/* Style */

body {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: var(--clr-grey-900);
  font-family: inter , sans-serif;
}

main {
  width: 327px;
  background-color: var(--clr-grey-800);
  border-radius: 0.75rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.profile img {
  border-radius: 50%;
  width: 5.5em;
}

.profile__title {
  color: white;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: var(--wgt-600);
}

.profile__place {
  color: var(--clr-green);
  font-size:0.875rem;
  font-weight: var(--wgt-600);
  margin-top: 0.25rem;
}

.profile__job {
  color: white;
  font-size: .875rem;
  margin-top: 1.5rem;
  font-weight: var(--wgt-400);
}


.grid-group {
   display: grid;
   width: 100%;
   font-size: 0.875rem;
   font-weight: var(--wgt-600);
   margin-top: 1.5rem;
   gap: .75rem;
   
}
.grid-group a {
   display: block;
   text-decoration: none;
   cursor: url("./assets/images/click.png"), auto;
   text-align: center;
   background-color: var(--clr-grey-700);
   color: white;
   padding: .75rem 0;
   border-radius: 0.5rem;
}

.grid-group a:hover {
  background-color: var(--clr-green);
  color: black;
}

.attribution {
  color: white;
   font-size: .75rem; 
   text-align: center; 
   position: absolute;
   bottom:20px;
   left:0;
   right:0;
}

.attribution a {
   color: var(--clr-green); 
}